<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activation</title>
</head>

<body>
<div style="margin-left: 50px; margin-top: 50px">
    <div><b>Welcome!</b></div>
    <br/>
    <div>Please activate your account using the link within 30 minutes!</div>
    <br/>
    <br/>
    <a th:href="${url}"
       style="
        width: 200px;
        height: 50px;
        background-color: blue;
        text-decoration: none;
        color: white;
        padding: 13px 45px;
        border-radius: 10px;
        fontSize: 18
        ">
        Activate
    </a>
    <br/>
    <br/>
</div>
</body>


</html>